body {
  font-family: $basefont;
  color: $text-color;
  background: $background;
  font-size: 20px;
}

.section {
  &.odd {
    background: white;
  }
  padding-bottom: 60px;
}

.section__inner {
  max-width: 700px;
  padding: 20px;
  margin: auto;
}

.section__title {
  font-size: 45px;
  text-align: center;
}
